<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sharpnodes - Showing you what governments dont</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- CSS -->    
    <link rel="stylesheet" href="css/superbly-tagfield.css" />
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
	
	
	<!-- Javascript Imports -->
	<script type="text/javascript" src="js/paper.js"></script>
	<script type="text/javascript" src="js/pubsub.js"></script>
	<script src="http://code.jquery.com/jquery-latest.js"></script>     
	<script src="http://fgnass.github.com/spin.js/spin.min.js"></script>     
	<script type="text/paperscript" src="js/graphdrawer.js "canvas="paperCanvas"></script>    

	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/superbly-tagfield.min.js"></script>
	<script type="text/javascript" src="js/bootstrap-modal.js"></script>
	
	<!-- Load Google Bar Chart Core -->	
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script  type="text/javascript"> 
	   google.load("visualization", "1", {packages:["corechart","gauge"]});
       google.setOnLoadCallback(drawChart);      
       
       var score = {political:0,social:0,security:0,tools:0};
              
       function drawChart() {
               var data = new google.visualization.DataTable();
               data.addColumn('string', 'Theme');
               data.addColumn('number', 'Score');
               data.addRows(4);
               data.setValue(0, 0, 'political');
               data.setValue(0, 1, score.political);
               data.setValue(1, 0, 'social');
               data.setValue(1, 1, score.social);
               data.setValue(2, 0, 'security');
               data.setValue(2, 1, score.security);
               data.setValue(3, 0, 'tools');
               data.setValue(3, 1, score.tools);
           
               var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
               chart.draw(data, {width: 350, height: 240, title: 'Country OpenNet Scores',
                                 vAxis: {title: 'Theme', titleTextStyle: {color: 'red'}}
                                });
       
               var data2 = new google.visualization.DataTable();
               data2.addColumn('string', 'Label');
               data2.addColumn('string', 'Value');
               data2.addRows(1);
               data2.setValue(0, 0, 'Transparency');
               data2.setValue(0, 1, 'Low');
       
               var chart = new google.visualization.Gauge(document.getElementById('chart_div_2'));
               var options = {width: 400, height: 120, redFrom: 75, redTo: 100,
                   yellowFrom:60, yellowTo: 75, minorTicks: 5};
               chart.draw(data2, options);
             }
         
    </script>
		
	<!-- Less styles -->
    <link rel="stylesheet/less" href="lib/bootstrap.less">
    <script src="js/less-1.1.3.min.js"></script>
    
    <style type="text/css">
    	  body {
        	padding-top: 80px;
    	  }
    	  
    	  #canvas-container {
	    	  display: none;
    	  }
    	  
    	  .flag {
    	  	margin-left: 5px;
    	  	background-repeat: no-repeat;
    	  	background-position: 1px 8px;
    	  	background-size: 20px 20px;
    	  	padding-left: 25px;
	   	  	color: #FFF;
    	  }
    </style>
       
	<!-- JQuery Imports -->
	<script type="text/javascript">	
	
		var topSiteArray = []; 
		var countryTags = [];
		var siteKeywords = [];
		var siteReportCount = 0;
		var siteURL = "";
		var countryReport = {};
		var countriesFlags = {};
		var herdictSiteReport = {};
		
        $(document).ready(function() {
        
			var opts = {
			  lines: 12, // The number of lines to draw
			  length: 7, // The length of each line
			  width: 3, // The line thickness
			  radius: 10, // The radius of the inner circle
			  color: '#000', // #rgb or #rrggbb
			  speed: 1, // Rounds per second
			  trail: 60, // Afterglow percentage
			  shadow: false // Whether to render a shadow
			};
			var target = document.getElementById('spinner');
			var spinner = new Spinner(opts).spin(target);
        
            // Initialize Demo 1
           getSitesList();
            
            $("#country-data-close").click(function () {
                  $(this).hide("slide", { direction: "right" }, 500);
            });
            
    
            // Start Action
            $('#tagDemoButton1').click(function(e){
                alert($("#contryTagfield").val());
            });
            
            // Swich classes
            $("#show-infotab").click(function(){
    	        $("#waiting-view").removeClass("span16").addClass("span12");
	            $("#country-tab").show();
            });
			
			$("#close-infotab").click(function(){
				 $("#country-tab").hide();
				 $("#waiting-view").removeClass("span12").addClass("span16");
			});
        });
        
        
        function getSitesList() {
	        $.ajax({
	          url: "/top_sites/",
	          success: function(data){
		        for (site in data.sites) {
		        	topSiteArray.push(data.sites[site].domain);
		        };
		        $('#waiting-view').delay(1000).fadeOut('slow', function() {
			        $('#waiting-view').remove();
			        $('#canvas-container').fadeIn('slow');	        	
		        });
		        $("#siteField").autocomplete({
		            source: topSiteArray,
		            select: function(event, ui) {
		            	//Emetto segnale sito selezionato
		            	eventMan.pub("site_selected", {siteNode : ui.item.label});
		            	siteURL = ui.item.label;
		            	getCountriesBySite(ui.item.label);
		            }
		        });
	          }
	        });
        }
        
        function getCountriesBySite(siteURL) {
        	$.ajax({
        	  url: "/site/"+siteURL+'/countries',
        	  success: function(data){
        	    for (index in data.countries) {
        	    	countryTags.push(data.countries[index].name);	
	        	    countriesFlags[data.countries[index].name] = data.countries[index].flag;
        	    }

        	    $("#contryTagfield").superblyTagField({
        	        allowNewTags: false,
        	        allowedTagsNumber: 5,                
        	        showTagsNumber: 10,
        	        tags: countryTags
        	    });
        	    
        	    //$(this).addClass("done");
        	  }
        	});
        };
        
        function getSiteData(siteURL) {
        	$.ajax({
        	  url: "/site/"+siteURL,
        	  success: function(data){
        	    console.log(data);
        	    siteKeywords = data.keywords;
        	    siteReportCount = data.reports; 
        	    //$(this).addClass("done");
        	  }
        	});
        };        
               
        function getCountryDetails(countryName) {
        	$.ajax({
        	  url: "/country/"+countryName,
        	  success: function(data){
        	    console.log(data);
        	    countryReport = data;
        	     score = countryReport.scores;
        	     generateCountryInfoTab();  
        	    //$(this).addClass("done");
        	  }
        	});        
        };
        
        function getCountryDetailsBySite(countryName) {
        	$.ajax({
        	  url: "/site/"+siteURL+"/country/"+countryName+"/isps",
        	  success: function(data){
        	    eventMan.pub("country_added", {country : countryName, isps: data.isps, countryFlag : countriesFlags[countryName]}); //QUI HO AGGIUNTO IL COUNTRY 
        	    herdictSiteReport[countryName] = data.herdict_report_count;   	
        	    //$(this).addClass("done");
        	  }
        	});        
        };
              
        
        function generateCountryInfoTab() {
        
	       	     drawChart();       
	       	     $('#country-title').attr('style', "background-image: url('"+countryReport.flag+"')");
	       	     $('#country-title').html(countryReport.name);
	       	     $('#google-removal-request').html('Google Content Removal requests: ' + countryReport.google.contentRemoval.contentRemovalRequests);	  
        };
              
        eventMan.sub("sitenode_clicked", function(a){getSiteData(a.message)});
        eventMan.sub("countrynode_clicked", function(a){getCountryDetails(a.message)});
    
        //eventMan.pub("site_selected", {siteNode : "facebook.com"});

        $.ready(function() {
            $("#team").modal();
        });
    </script>
  
    <!-- Le fav and touch icons -->
  <!--  <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">-->
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">SharpNod.es</a>
          <ul class="nav">
          </ul>
          <ul class="nav secondary-nav">
              <li>
              <a href="#" data-controls-modal="team" data-backdrop="static"
                  data-show="true">
              <img src="/img/indigeni.png" height="16">
                  Team</a></li> 
          </ul>
        </div>
      </div>
    </div>
    
    
    <div class="container">
    
        <!-- Forms above paperscript canvas -->
    	<div class="row">
    		<div class="span-one-third">
    			<div class="input">
    				<input class="xlarge" id="siteField" name="siteField" size="30" type="text" placeholder="Type a URL" />
    			</div>	
	    	</div>
            <div class="span-one-third"><br></div>
	    	<div class="span-one-third">
	    		<div class="input" >
	    			<input class="xlarge" id="contryTagfield" name="xlInput" size="30" type="text" placeholder="Type Countries" />
	    		</div>	
	    	</div>
	    </div>

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="row">
      
      <div class="span16 myWell" id='waiting-view' style="text-align: center;"> 
      	<img src="img/logo.png" style="margin-top: 30px;"/>
      	<div id='spinner' style="margin-bottom: 30px;"></div>
      	<p> Loading... </p>
      </div>  
      
      <div class="span16 myWell" id='canvas-container'>
	      <canvas id="paperCanvas" width="940" height="450"></canvas>
      </div>

	 <div class="span6 offset10" id='country-info-tab' style="position: absolute; opacity:0.8; background-color: #555; top: 118px; height: 450px; z-index: 5000;">
		  <div class="row">
		  	<div class="span5">
		  		<h3 id='country-title' class="flag" style="background-image: url('/flags/us.png');">
		  			ObjectName		  		
		  		</h3>
		  	</div>
		  	<div class="span1" style="text-align: right;">
		  		<h4 id='close-infotab' style="margin-right: 5px; color: #FFF;">X</h4>
		  	</div>
		  </div>

		  <div class="row">
	      	<div class="span6">
	      		<p id='google-removal-request' style="color: #FFF; margin-left: 5px;">Google Content Removal requests: 5</p>
			</div>  	
		  </div>  
		  
		  <div id='country-chart-row' class="row">
		  	<div class="span6">
		    	<div id="chart_div"></div>
		    	<div id="chart_div_2"></div>
		  </div>
		  </div>
	 </div>
	
		
		    	  
    	  
      
      </div>
     
	  <div class="row">
          <div class="span4"><br></div>
          <div class="span10">
              <blockquote style="height: 56px;">
                <p style="font-size: 24px">"Information is Cheap. Meaning is Expensive"</p>
                <br> 
                <small>
                    <a style="font-size: 18px;" href="http://theeuropean-magazine.com/352-dyson-george/353-evolution-and-innovation">George Dyson</a>
                </small>
              </blockquote>
          </div>
          <div class="span2"><br></div>
      </div> 


      <!-- Example row of columns -->
      <div class="row">
        <div class="span-one-third">
          <h2>SharpNodes</h2>
          <p>
          SharpNod.es makes easier for you to understand the underlying information about censorship, 
          obtainable from combined data from multiple sources.
          Our goal is to provide a meaningful visualization capable of giving a picture of the entities of interest at a glance.
          </p>
        </div>
        <div class="span-one-third">
          <h2>Web Sites</h2>
          <p>
          Websites can be sources of empowering information and means for people communications. 
          SharpNod.es keeps track of websites frequently reported as unreachable with supposed cause of censorship, 
          and is capable to show a comparison of how their condition is different among countries and their ISPs.
          </p>
       </div>
        <div class="span-one-third">
          <h2>Data Sources</h2>
          <p>
          We aggregated data from multiple sources to show countries' 
          behavior that has been fetched from the 
          <a href="http://opennet.net/" target="blank">OpenNet Initiative</a> and from the 
          <a href="http://www.google.com/transparencyreport/data/" target="blank">Google Transparency Report</a>.
          Specific reports about unreachable websites have been retrieved from 
          <a href="http://www.herdict.org" target="blank">Herdict</a>,
          and websites have also been categorized by topic using keywords provided by people like you on 
          <a href="http://delicio.us" target="blank">Delicious.com</a>.
        </div>
      </div>

      <footer>
      <p>&copy; <a href="#" data-controls-modal="team" data-backdrop="static"
          data-show="true" id="copyright">Indigeni Digitali Team</a>
      @ <a href="http://www.euhackathon.eu">EUHackathon</a> 
      <a href="https://twitter.com/#!/search/%23h4t" target="blank">#h4t</a> 2011
      | <a href="#" data-controls-modal="technologies" data-backdrop="static"
          data-show="true">Technologies</a> 
      </p>
      </footer>

      <div id="team" class="modal hide fade in">
          <div class="modal-header">
              <a href="#" class="close">x</a>
              <h3>
              <img src="/img/indigeni.png" height="24">
                  Indigeni Digitali Team</h3>
          </div>
          <div class="model-body center" style="padding: 12px">
              <table border="0" class="zebra-striped">
                  <tr>
                      <td><img src="team/giuliano.png" alt="Giuliano Iacobelli" width="80px" /></td>
                      <td><a href="http://www.giulianoiacobelli.com">Giuliano Iacobelli</a> <br/> <a href="">@Giuliano84</a></td>
                  </tr>
                  <tr>
                      <td><img src="team/matteo.png" alt="Matteo Collina" width="80px" /></td>
                      <td><a href="http://www.matteocollina.com">Matteo Collina</a> <br/> <a href="">@matteocollina</a></td>
                  </tr>
                  <tr>
                      <td><img src="team/alessandro.png" alt="Alessandro Manfredi" width="80px" /></td>
                      <td><a href="http://www.n0on3.net">Alessandro Manfredi</a> <br/> <a href="">@n0on3</a></td>
                  </tr>
                  <tr>
                      <td><img src="team/claudio.png" alt="Claudio Squarcella" width="80px" /></td>
                      <td><a href="http://www.euhackathon.eu/speakers/?wppa<br/>album=5&wppa<br/>photo=55&wppa<br/>occur=1">Claudio Squarcella</a> <br/> <a href="">@hyperboreans</a></td> 
                  </tr>
                  <tr>
                      <td><img src="team/david.png" alt="David Funaro" width="80px" /></td>
                      <td><a href="http://www.davidfunaro.com">David Funaro</a> <br/> <a href="">@ingdavidino</a></td>
                  </tr>
              </table>
          </div>
      </div>
    </div> <!-- /container -->

    <div id="technologies" class="modal hide fade in">
        <div class="modal-header">
            <a href="#" class="close">x</a>
            <h3>Technologies</h3>
        </div>
        <div class="model-body" style="padding: 12px">
            <p>
            We strongly believe in <strong>having fun</strong> developing
            applications, so we used the largest feasible set of technologies 
            (<em>which most of us didn't even know about</em>).
            </p>
            <p>
            We used:
            </p>
            <ul>
              <li>JavaScript</li>
              <li>CoffeeScript</li>
              <li>Paper.js</li>
              <li>Google Charts</li>
              <li>Delicious APIs</li>
              <li>JQuery</li>
              <li>JQuery UI</li>
              <li>Twitter's Bootstrap</li>
              <li>Node.js</li>
              <li>Mongodb</li>
              <li>Python</li>
              <li>Ruby</li>
              <li><em>Bash Scripting</em></li>
            </ul>
        </div>
    </div>
  </body>
</html>
